body {
  font-family: 'Helvetica', sans-serif;
  margin: 0% 10%;
  justify-content: center;
}

button {
  position: absolute;
  right: 0%;
  top: 0;
}

h1 {
  text-align: center;
}

header p {
  font-size: 18pt;
  justify-content: space-around;
  width: 65%
}

#lists {
  display: flex;
  justify-content: space-around;
}

.date {
  float: right;
  font-weight: bold;
}